<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
  <body class="d-flex h-100 text-center text-bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main class="px-3">
    <h1>Index Page.</h1>
    <p class="lead">Some Challenge Relevant Spiel.</p>
    <p class="lead">
    </p>

    <form action="/api/submit" method="POST" style="alignment: center">
        <input name="url" type="text" id="url" style="max-width: 50pc" placeholder="Enter URL" required autofocus>
        <button type="submit" class="btn btn-outline-primary">search</button>
    </form>
      <p>{{error}}</p>
  </main>

</div>
  </body>
</html>